// image positions

.image-at-left {
	.iat-content {
		order: 2;
	}
}

.iat-content {
	width: 45%;
}

.iat-image {
	width: 45%;
}

.image-alongside-text {
	.kicker {
		font-size: 12px;
	}

	h2 {
		font-size: var(--fc_font_size_60);
	}

	.iat-image {
		img {
			width: 100%;
		}
	}
}